<!DOCTYPE html>
<html>

<link rel="stylesheet" type="text/css" href="/css/layout_cv.css">
<head>
  <title>{{ page.title }}</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <meta charset="utf-8">
  <meta name="viewport"
          content="width=0.9*device-width, initial-scale=1">
	
	  <meta name="author" content="Jessie Levillain" />
    <meta name="description" content="Professional website of Jessie Levillain, PhD student at École Polytechnique.
" />
    <meta name="keywords" content="mathematics, mathematical physics, stokes, microswimmer, flagella" />
	
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
	
		</head>
		<body>
			<nav class="navbar">
			 <!-- LOGO -->
 		<div class="logo"><img  src="/image/android-chrome-192x192.png" width="92" height="92"/></div>
 		<!-- NAVIGATION MENU -->
    		<ul class="navlinks">
			 <!-- USING CHECKBOX HACK -->
 <input type="checkbox" id="checkbox_toggle" />
 <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        		<li><a href="/" style="color:white;">Home</a></li>
        		<li><a href="/cv" style="color:white;">CV</a></li>
        		<li><a href="/publications" style="color:white;">Research</a></li>
			<li><a href="/teaching" style="color:white;">Teaching</a></li>
    		</ul>
		</nav>
			{{content}}
			
			<footer>
&copy; 2022 Jessie Levillain.
			</footer>
		</body>
	</html>
